.ERtext {
  margin: auto;
  width: 600px;
  margin-top: 100px;
  line-height: 1.7;
  color: var(--cy);
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  text-shadow: 0 0 2px var(--cw);
  -webkit-text-stroke-color: var(--cy);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-fill-color: transparent;
}
.video {
  display: block;
  margin: auto;
  margin-top: var(--space-lg);
  border-radius: var(--border-r-md);
  box-shadow: var(--box-shadow-white);
}
